
.title{
	font-family: 'Freckle Face', cursive;
	color: #4653B2;
	font-size: 50px;

}

.btn{
	background-color: #777;
	color: white;
}
#pictures{
	overflow: hidden;
	width: 600px;
}
#pictures div{
	float: left;
	width: 33%;
}